* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

footer {
    background-color: black;
}

iframe {
    width: 95%;
    height: 100vh;
}

ul {
    padding-left: 0;
}

a,
li,
ul {
    color: whitesmoke !important;
    list-style-type: none;
    text-decoration: none;
}

.footer_top {
    background-image: url('../img/bg-blue2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border-bottom: 1px solid whitesmoke;
    filter: drop-shadow(5px 5px 30px #666);
}

.navbar-nav {
    font-size: 20px;
}

.redes a:hover {
    filter: drop-shadow(0 0 0.10rem black);
    zoom: 120%;
}

a:link {
    color: white;
}

a:hover {
    color: white;
}

/* Sobre Mim */

.about_me {
    width: 60%;
    border-radius: 1%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: auto;
    display: block;
}

.recode {
    width: 40%;
}

/* Cards */

.card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid whitesmoke;
    background-color: #f8f9fa;
}

.card img {
    width: 45%;
    margin: 8% auto;
    border-radius: 10px;
}

.card-title,
.card-text {
    color: black;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card a {
    color: black !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}

/* SKILLS */

#skills {
    background: #3C3B3F;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
    border-radius: 10px;
    border: 2px solid;
    width: 95%;
    height: auto;
    margin: auto;
}

.skills-text {
    width: 80%;
    font-size: 20px;
}

.skills-list {
    overflow: hidden;
    position: relative;
    z-index: 10
}

.skill-name:after {
    background-color: #999797;
    content: '';
    display: block;
    height: 1rem;
    position: relative;
    top: 3px;
    /*top: 1rem;*/
    width: 100%;
}

.skill-percent {
    font-size: 0;
    height: 1rem;
    position: relative;
    top: -.8rem;
    transition: 3s linear;
    width: 0;
}

/* SKILL BAR COLORS */

.skill-percent-html {
    background-color: #E34C26;
}

.skill-percent-css {
    background-color: #00B1DB;
}

.skill-percent-nodejs {
    background-color: #68A063;
}

.skill-percent-python {
    background-color: #306998;
}

.skill-percent-javascript {
    background-color: #F0DB4F;
}

.skill-percent-mysql {
    background-color: #00758F;
}

.skill-percent-mongodb {
    background-color: #4DB33D;
}

.skill-percent-php {
    background-color: #787CB5;
}

.skill-percent-git {
    background-color: #F34F29;
}

.skill-percent-bootstrap {
    background-color: #563D7C;
}

.skill-percent-react-native {
    background-color: #61DBFB;
}

.skill-percent-react {
    background-color: #61DBFB;
}

.skill-percent-linux {
    background-color: #D80150;
}

.skill-percent-windows {
    background-color: #00ADEF;
}

/* Scroll Button */

#myBtn {
    text-align: center;
    justify-items: center;
    display: none;
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 99;
    width: 4%;
    margin: auto;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-image: url("../img/bg-blue2.jpg");
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    color: white;
    cursor: pointer;
    padding: 1vw;
    border-radius: 10%;
    border: 1px solid whitesmoke;
}

#myBtn:hover {
    color: lightgrey;
    border: 1px solid lightgrey;
}

@media screen and (max-width: 1150px) {
    #myBtn {
        width: 5%;
    }
}

@media screen and (max-width: 850px) {
    #myBtn {
        width: 2.6rem;
    }
}

@media screen and (max-width: 610px) {
    #myBtn {
        width: 2.6rem;
    }
}

@media screen and (max-width: 510px) {
    #myBtn {
        width: 2.5rem;
        height: 2.5rem;
        padding: 1%;
        bottom: 2%;
        right: 2%;
    }
}

.btn {
    color: whitesmoke;
    background-image: linear-gradient(#48c6ef, #6f86d6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.btn:hover {
    color: whitesmoke;
    filter: drop-shadow(0 0 0.10rem black);
}