.navbar {
    background-color: #5DAFCA;
}

.navbar-brand {
    font: italic 300 1.8em 'Ubuntu', sans-serif;
}

.navbar-collapse {
    justify-content: flex-end;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    border-bottom: 1px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.navbar-nav {
    font: normal 500 1.4em 'Open Sans', sans-serif;
}

.footer_top {
    background-color: #396C7D;
}

.redes a:hover {
    filter: drop-shadow(0 0 0.10rem black);
    zoom: 120%;
}

a:link {
    color: white;
}

a:hover {
    color: white;
}

/* Sobre Mim */

.about_me {
    width: 60%;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: auto;
    display: block;
}

.recode {
    width: 45%;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.experience_style {
    text-align: justify;
}

.experience {
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* Cards */

.card {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid whitesmoke;
    background-color: #f8f9fa;
}

.card img {
    width: 45%;
    margin: 8% auto;
    border-radius: 10px;
}

.card-title {
    font: italic 400 2.2em 'Roboto', sans-serif;
}

.card a {
    color: black !important;
    font: normal 500 1em 'Open Sans', sans-serif;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
}

/* SKILLS */

#skills {
    background: #3C3B3F;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
    border-radius: 10px;
    border: 2px solid;
    width: 95%;
    height: auto;
    margin: auto;
}

.skills-text {
    width: 80%;
    font: normal 300 1.4em 'Roboto', sans-serif;
}

.skills-list {
    overflow: hidden;
    position: relative;
    z-index: 10
}

.skill-name:after {
    background-color: #999797;
    content: '';
    display: block;
    height: 1rem;
    position: relative;
    top: 3px;
    /*top: 1rem;*/
    width: 100%;
}

.skill-percent {
    font-size: 0;
    height: 1rem;
    position: relative;
    top: -.8rem;
    transition: 3s linear;
    width: 0;
}

/* SKILL BAR COLORS */

.skill-percent-html {
    background-color: #E34C26;
}

.skill-percent-css {
    background-color: #00B1DB;
}

.skill-percent-nodejs {
    background-color: #68A063;
}

.skill-percent-python {
    background-color: #306998;
}

.skill-percent-javascript {
    background-color: #F0DB4F;
}

.skill-percent-mysql {
    background-color: #00758F;
}

.skill-percent-mongodb {
    background-color: #4DB33D;
}

.skill-percent-php {
    background-color: #787CB5;
}

.skill-percent-git {
    background-color: #F34F29;
}

.skill-percent-bootstrap {
    background-color: #563D7C;
}

.skill-percent-react-native {
    background-color: #61DBFB;
}

.skill-percent-react {
    background-color: #61DBFB;
}

.skill-percent-linux {
    background-color: #D80150;
}

.skill-percent-windows {
    background-color: #00ADEF;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font: normal 400 1.2em 'Open Sans', sans-serif;
    border: none;
    outline: none;
    background-color: rgba(85, 85, 85, 0.596);
    color: rgba(255, 255, 255, 0.842);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 1px solid whitesmoke;
}

#myBtn:hover {
    background-color: #5DAFCA;
}

.btn {
    color: whitesmoke;
    background-image: linear-gradient(#48c6ef, #6f86d6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.btn:hover {
    color: whitesmoke;
    filter: drop-shadow(0 0 0.10rem black);
}